<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven />
    <mvc:resources mapping="/citi/img/**" location="/img/"/>
    <context:component-scan base-package="citi.citi"/>
    <context:component-scan base-package="citi.interceptor"/>
    <context:component-scan base-package="citi.login"/>
    <context:component-scan base-package="citi.merchant"/>
    <context:component-scan base-package="citi.mscard"/>
    <context:component-scan base-package="citi.pay"/>
    <context:component-scan base-package="citi.vo"/>
    <context:component-scan base-package="citi.mapper"/>
    <context:component-scan base-package="citi.user"/>
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <mvc:default-servlet-handler/>

    <!-- 拦截器配置-->
    <mvc:interceptors>
        <!--
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="citi.interceptor.DecryptIeterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="citi.interceptor.EncryptIeterceptor"/>
        </mvc:interceptor>
        -->


        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login/**"/>
            <!--<mvc:exclude-mapping path="/citi/login/**" />-->
            <bean class="citi.interceptor.AuthIeterceptor" />
        </mvc:interceptor>

    </mvc:interceptors>
    <!-- 绑定数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">

        <property name="driverClassName" value="${jdbc.driver}" />

        <property name="url" value="${jdbc.url}" />

        <property name="username" value="${jdbc.username}" />

        <property name="password" value="${jdbc.password}" />
    </bean>
    <!-- mybatis会话工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!-- 自动扫描mybatis映射文件和接口的包 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="citi.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!-- gson注入 -->
    <bean id="gson" class="com.google.gson.Gson">

    </bean>


</beans>