<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.citiexchangeplatform.pointsleague">

    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"

            >


            <!-- 启动项 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".PaymentFinishActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PayCodeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PayingActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity
            android:name=".FeedbackResultActivity"
            android:parentActivityName=".FeedbackActivity" />
        <activity android:name=".GeneralSettingActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AddCardActivity" />
        <activity android:name=".HttpActivity">

            <!-- <intent-filter> -->
            <!-- <action android:totalPoints="android.intent.action.MAIN" /> -->


            <!-- <category android:totalPoints="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".AllCardActivity" />
        <activity android:name=".DetailFindActivity" />
        <activity android:name=".CardInfoActivity" />
        <activity android:name=".HistoryExchangeActivity" />
        <activity android:name=".MyCouponsActivity" />
        <activity android:name=".PointsExchangeExpandListActivity" />
        <activity android:name=".PointsExchangeRecordActivity" />
        <activity android:name=".BindCardActivity" />
        <activity android:name=".DetailFindPayActivity" />
        <activity android:name=".DetailActivityActivity" />
        <activity android:name=".PayCodeFinishActivity" />
        <activity android:name=".CouponsDetailsActivity" />
        <activity android:name=".BindAccountActivity" />
        <activity android:name=".MyOrderActivity" />
        <activity android:name=".OrderDetailActivity"></activity>
    </application>

</manifest>