<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="citiMerchant.mapper.DBHandler">

    <resultMap id="parameter_for_coupon_record" type="Student">
        <result property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="branch" column="BRANCH"/>
        <result property="percentage" column="PERCENTAGE"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL"/>
    </resultMap>

    <select id="coupon_record" useCache="false" parameterType="map"
            statementType="CALLABLE">
        <![CDATA[
        call coupon_record
        (
                #{IN_MerchantID, mode = IN, jdbcType = VARCHAR },
                #{IN_intervalDate, mode = INT, jdbcType = INT}
        );
        ]]>
    </select>

</mapper>
